<div class="container">
    <div class="center">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <input [(ngModel)]="todo.title" id="input_text" type="text" length="140" class="form-control add-todo" placeholder="add-todo">
          <button (click)="save()" class="btn btn-success pull-right add-todo">Add</button>
        </div>
      </div>
    </div>
    <hr class="col-sm-8 col-sm-offset-2">
    <div class="todo-list row">
      <div *ngFor="let todo of todos" class="col-sm-8 col-sm-offset-2">
          <div [class.show]="!todo.hideElement" class="panel panel-default step">
            <div class="panel-body">
              <a [routerLink]="['/todo', todo.id]">{{todo.title}}</a>
              <button (click)="delete(todo.id) || todo.hideElement=true" type="button" class="btn btn-success btn-circle pull-right"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
          </div>
      </div>
    </div>
</div>
