/* You can add global styles to this file, and also import other style files */
$bk-color: #f5f5f5;

body {
  background: $bk-color;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
